<footer class="footer">
        <div class="container-fluid clearfix">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Desenvolvidor por <a href="http://www.Felipeferreiracabo.com.br/" target="_blank">Felipe Ferreira Cabo</a>
          </span>
        </div>
      </footer>