<!-- partial:../partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
                <a class="nav-link" href="/cursos">
                  <i class="menu-icon typcn typcn-document-text"></i>
                  <span class="menu-title">Cursos</span>
                </a>
              </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">
              <i class="menu-icon typcn typcn-shopping-bag"></i>
              <span class="menu-title">Usuários</span>
            </a>
          </li>
        </ul>
      </nav>