<!DOCTYPE html>
<html lang="en">

<head>
  <%- include inc/head %>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../partials/_navbar.html -->
    <%- include('inc/top',{title: titleController}) %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <%- include inc/menu%>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <button type="button" class="btn margin-especial btn-dark" data-toggle="modal"
          data-target="#novo_curso">Novo Curso</button>

          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"><i class="fa fa-book"></i> Cursos Cadastrados</h4>
                <p class="card-description"></p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Categoria.</th>
                        <th>Tipo</th>
                        <th>Link Compra</th>
                        <th>Status</th>
                        <th>    </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% data.forEach(function(curso) { %>
                      <tr id="tr<%=curso.id_curso%>">
                        <td><%=curso.name%></td>
                        <td><%=curso.category%></td>
                        <td><% curso.type == 'Online' ? __append('Online') : __append('Presencial') %></td>
                        <td>
                          <label class="badge badge-danger"><a class="text-white" href="<%=curso.link%>"
                              target="_blank"><%=curso.link%></a></label>
                        </td>
                        <td>
                          <label class="badge <% curso.status === 1 ? __append('badge-success') : __append('badge-warning') %> ">
                            <% curso.status === 1 ? __append('Ativo') : __append('Desativado')%>
                          </label>
                        </td>
                        <td>

                          <button type="button" class="btn btn-dark" data-toggle="modal"
                            data-target="#edit_curso_id<%=curso.id_curso%>">Edit</button>
                          <a href="#" onClick="callDeleteItem('tr<%=curso.id_curso%>',<%=curso.id_curso%>)" class="btn btn-danger">x</a>
                        </td>
                      </tr>

                      <div class="modal fade" id="edit_curso_id<%=curso.id_curso%>" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Editar curso</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">

                              <form class="forms-sample" method="POST" action="cursos/update" enctype="multipart/form-data"  id="form-<%=curso.id_curso%>">
                                <input type="hidden" required class="form-control" id="id_curso" value="<%=curso.id_curso%>" name="id_curso"
                                    placeholder="<%=curso.name%>">
                                <div class="form-group">
                                  <label for="name">Nome</label>
                                  <input type="text" value="<%=curso.name%>" class="form-control" id="name" name="name"
                                    placeholder="<%=curso.name%>">
                                </div>
                                <div class="form-group">
                                  <label for="descr">Descrição</label>
                                  <input type="text" value="<%=curso.description%>" class="form-control" name="descr"
                                    id="descr" placeholder="Descrição">
                                </div>
                                <div class="form-group">
                                  <label for="cat">Categoria</label>
                                  <input type="text" value="<%=curso.category%>" class="form-control" name="cat" id="cat"
                                    placeholder="Categoria">
                                </div>
                                <div class="form-group">
                                  <label for="link">Link</label>
                                  <input type="text" required value="<%=curso.link%>" class="form-control" name="link" id="link"
                                    placeholder="Link">
                                </div>
                                <div class="form-group">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="fileupdate" onchange="showname('fileupdate','custom-file-label-update')" id="fileupdate">
                                    <label class="custom-file-label custom-file-label-update" for="customFile"><% curso.cover ? __append(curso.cover.replace("uploads/","")) : __append('Procurar imagem') %></label>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="select">Tipo</label>
                                  <select class="form-control" id="type" name="type">
                                    <option name="on" value="Online" <% if (curso.type == 'Online') { __append('selected')}%> >    Online</option>
                                    <option name="of" value="Offline" <% if (curso.type == 'Offline') { __append('selected')}%> > Presencial</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label for="text">Texto</label>
                                  <textarea class="form-control summernote" id="text" name="text" rows="2"><%=curso.text%></textarea>
                                </div>
                                <button type="submit"  class="btn btn-success mr-2">Salvar</button>
                                <button class="btn btn-light">Cancelar</button>
                              </form>


                            </div>

                          </div>
                        </div>
                      </div>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade " id="novo_curso" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Novo curso</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">

                              <form class="forms-sample" method="POST" enctype="multipart/form-data" action="cursos/add" id="form-novo">
                 
                                <div class="form-group">
                                  <label for="name">Nome</label>
                                  <input type="text" required autofocus value=" " class="form-control" id="name" name="name"  placeholder="Nome que será exibido do curso"/>
                                </div>
                                <div class="form-group">
                                  <label for="descr">Descrição</label>
                                  <input type="text" value=" " class="form-control" name="descr"  id="descr" placeholder="Descrição"/>
                                </div>
                                <div class="form-group">
                                  <label for="cat">Categoria</label>
                                  <input type="text" required value=" " class="form-control" name="cat" id="cat"  placeholder="Categoria"/>
                                </div>
                                <div class="form-group">
                                  <label for="link">Link</label>
                                  <input type="text" required value=" " class="form-control" name="link" id="link"  placeholder="Link" />
                                </div>
                                <div class="form-group">
                                  <div class="custom-file"> 
                                    <input type="file" required class="custom-file-input" name="newfile" onchange="showname('newfile','custom-file-label-new')" id="newfile"> 
                                    <label class="custom-file-label custom-file-label-new" for="customFile">Procurar capa</label>
                                  </div>
                                </div> 
                                <div class="form-group">
                                  <label for="select">Tipo</label>
                                  <select class="form-control" required id="type" name="type">
                                    <option name="on" value="Online"  >    Online</option>
                                    <option name="of" value="Offline"  > Presencial</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label for="text">Texto</label>
                                  <textarea class="form-control summernote"   required   name="text" rows="2"></textarea>
                                  
                                </div>
                                <button type="submit"  class="btn btn-success mr-2">Salvar</button>
                                <button class="btn btn-light">Cancelar</button>
                              </form>

 
                            </div>

                          </div>
                        </div>
                      </div>

          <%-// include inc/dashboard%>
          <%-// include inc/buttons%>
          <%-// include inc/tables%>
        </div>
        <!-- partial:../partials/_footer.html -->
        <%- include inc/footer%>
        <!-- partial -->
      </div>
    </div>
  </div>
  <!-- plugins:js -->
  <%- include inc/plugins %>  
</body>

</html>