<!DOCTYPE html>
<html lang="en">
<head>
  <%- include inc/head %>
</head>
<body>
  <div class="container-scroller login"> 
    <div class="container-fluid page-body-wrapper"> 
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto max-with-500">
              <div class="auto-form-wrapper"> <% if (msg){%> <button type="button" class="btn btn-inverse-danger btn-fw" style="margin-bottom:30px;"><%= msg %></button> <br/><% }%> 
                <form method="POST" action="login">
                  <div class="form-group">
                    <label class="label">Username</label>
                    <div class="input-group">
                      <input type="text" required autofocus  name="username" class="form-control" placeholder="Username">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label" >Password</label>
                    <div class="input-group">
                      <input type="password" required autofocus  name="password" class="form-control" placeholder="*********">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary submit-btn btn-block">Entrar</button>
                  </div>
                  <div class="form-group d-flex justify-content-between"> 
                    <a href="#" class="text-small forgot-password text-black">Esqueci a senha </a>
                  </div>
                </form>
              </div>
              <br />
              <p class="footer-text text-center">Direitos Reservados © 2018.</p>
            </div>
          </div>
        </div>
      </div> 
    </div> 
  </div> 
  <!-- plugins:js -->
  <%- include inc/plugins %>
</body>

</html>