<!DOCTYPE html>
<html lang="en">
<head>
  <%- include inc/head %>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:../partials/_navbar.html -->
    <%- include('inc/top',{title: titleController,session: session}) %>  
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <%- include inc/menu%>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper"> 
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"><%=titleController%></h4>
                    <p class="card-description"> Todos os usuários do sistema cadastrado</p>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th> Nome </th>
                          <th> Email </th>
                          <th> Level </th>
                          <th> Login </th>
                          <th> Status </th>
                        </tr>
                      </thead>
                      <tbody>
                          <% data.forEach(function(user) { %>
                         <tr>
                          <td class="py-1">
                              <%= user.name %>
                          <td> <%= user.email %> </td>
                          <td>
                              <%= user.level %>
                          </td>
                          <td>  <%= user.login %> </td>
                          <td>  <% if (user.status == 1)  {  %> Ativo <%  }else{ %>  Inativo <% }  %> </td>
                        </tr>  
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          <%-// include inc/dashboard%>
          <%-// include inc/buttons%>
          <%-// include inc/tables%>
        </div> 
        <!-- partial:../partials/_footer.html -->
        <%- include inc/footer%>
        <!-- partial -->
      </div> 
    </div> 
  </div> 
  <!-- plugins:js -->
  <%- include inc/plugins %>
</body>

</html>