<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include ../../inc/head %>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="../../index.html">
            <img src="../../../assets/images/logo.svg" alt="logo" /> </a>
          <a class="navbar-brand brand-logo-mini" href="../../index.html">
            <img src="../../../assets/images/logo-mini.svg" alt="logo" /> </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <ul class="navbar-nav">
            <li class="nav-item font-weight-semibold d-none d-lg-block">Help : +050 2992 709</li>
            <li class="nav-item dropdown language-dropdown">
              <a class="nav-link dropdown-toggle px-2 d-flex align-items-center" id="LanguageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="d-inline-flex mr-0 mr-md-3">
                  <div class="flag-icon-holder">
                    <i class="flag-icon flag-icon-us"></i>
                  </div>
                </div>
                <span class="profile-text font-weight-medium d-none d-md-block">English</span>
              </a>
              <div class="dropdown-menu dropdown-menu-left navbar-dropdown py-2" aria-labelledby="LanguageDropdown">
                <a class="dropdown-item">
                  <div class="flag-icon-holder">
                    <i class="flag-icon flag-icon-us"></i>
                  </div>English
                </a>
                <a class="dropdown-item">
                  <div class="flag-icon-holder">
                    <i class="flag-icon flag-icon-fr"></i>
                  </div>French
                </a>
                <a class="dropdown-item">
                  <div class="flag-icon-holder">
                    <i class="flag-icon flag-icon-ae"></i>
                  </div>Arabic
                </a>
                <a class="dropdown-item">
                  <div class="flag-icon-holder">
                    <i class="flag-icon flag-icon-ru"></i>
                  </div>Russian
                </a>
              </div>
            </li>
          </ul>
          <form class="ml-auto search-form d-none d-md-block" action="#">
            <div class="form-group">
              <input type="search" class="form-control" placeholder="Search Here">
            </div>
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count">7</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                <a class="dropdown-item py-3">
                  <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                  <span class="badge badge-pill badge-primary float-right">View all</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../../assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic"> </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../../assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic"> </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../../assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic"> </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-email-outline"></i>
                <span class="count bg-success">3</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
                <a class="dropdown-item py-3 border-bottom">
                  <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                  <span class="badge badge-pill badge-primary float-right">View all</span>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-thumbnail">
                    <i class="mdi mdi-alert m-auto text-primary"></i>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                    <p class="font-weight-light small-text mb-0"> Just now </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-thumbnail">
                    <i class="mdi mdi-settings m-auto text-primary"></i>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                    <p class="font-weight-light small-text mb-0"> Private message </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-thumbnail">
                    <i class="mdi mdi-airballoon m-auto text-primary"></i>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                    <p class="font-weight-light small-text mb-0"> 2 days ago </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle" src="../../../assets/images/faces/face8.jpg" alt="Profile image"> </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="../../../assets/images/faces/face8.jpg" alt="Profile image">
                  <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                  <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>
                </div>
                <a class="dropdown-item">My Profile <span class="badge badge-pill badge-danger">1</span><i class="dropdown-item-icon ti-dashboard"></i></a>
                <a class="dropdown-item">Messages<i class="dropdown-item-icon ti-comment-alt"></i></a>
                <a class="dropdown-item">Activity<i class="dropdown-item-icon ti-location-arrow"></i></a>
                <a class="dropdown-item">FAQ<i class="dropdown-item-icon ti-help-alt"></i></a>
                <a class="dropdown-item">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="profile-image">
                  <img class="img-xs rounded-circle" src="../../../assets/images/faces/face8.jpg" alt="profile image">
                  <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">Allen Moreno</p>
                  <p class="designation">Premium user</p>
                </div>
              </a>
            </li>
            <li class="nav-item nav-category">Main Menu</li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">Basic UI Elements</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Dropdowns</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/forms/basic_elements.html">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">Form elements</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="menu-icon typcn typcn-th-large-outline"></i>
                <span class="menu-title">Charts</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/tables/basic-table.html">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Tables</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/icons/font-awesome.html">
                <i class="menu-icon typcn typcn-user-outline"></i>
                <span class="menu-title">Icons</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon typcn typcn-document-add"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/samples/blank-page.html"> Blank Page </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/samples/login.html"> Login </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/samples/register.html"> Register </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card-body">
                        <h4 class="card-title">Normal buttons</h4>
                        <p class="card-description">Use any of the available button classes to quickly create a styled button.</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-primary btn-fw">Primary</button>
                          <button type="button" class="btn btn-secondary btn-fw">Secondary</button>
                          <button type="button" class="btn btn-success btn-fw">Success</button>
                          <button type="button" class="btn btn-danger btn-fw">Danger</button>
                          <button type="button" class="btn btn-warning btn-fw">Warning</button>
                          <button type="button" class="btn btn-info btn-fw">Info</button>
                          <button type="button" class="btn btn-light btn-fw">Light</button>
                          <button type="button" class="btn btn-dark btn-fw">Dark</button>
                          <button type="button" class="btn btn-link btn-fw">Link</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h4 class="card-title">Fab Buttons</h4>
                        <p class="card-description">Use <code>class="btn-icons"</code> or <code>class="btn-icons
                          btn-rounded"</code> for fab styled buttons</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-icons btn-rounded btn-light">
                            <i class="mdi mdi-home-outline"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-secondary">
                            <i class="mdi mdi-edge"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-success">
                            <i class="mdi mdi-email"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-primary">
                            <i class="mdi mdi-star"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-warning">
                            <i class="mdi mdi-map-marker"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-info">
                            <i class="mdi mdi-code-braces"></i>
                          </button>
                          <br>
                          <button type="button" class="btn btn-icons btn-inverse-light">
                            <i class="mdi mdi-home-outline"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-inverse-secondary">
                            <i class="mdi mdi-edge"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-inverse-success">
                            <i class="mdi mdi-email"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-inverse-primary">
                            <i class="mdi mdi-star"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-inverse-warning">
                            <i class="mdi mdi-map-marker"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-inverse-info">
                            <i class="mdi mdi-code-braces"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card-body">
                        <h4 class="card-title">Outlined buttons</h4>
                        <p class="card-description">Use <code>class="btn-outline-*"</code> for outlined style</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-outline-primary">Primary</button>
                          <button type="button" class="btn btn-outline-secondary">Secondary</button>
                          <button type="button" class="btn btn-outline-success">Success</button>
                          <button type="button" class="btn btn-outline-danger">Danger</button>
                          <button type="button" class="btn btn-outline-warning">Warning</button>
                          <button type="button" class="btn btn-outline-info">Info</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h4 class="card-title">Rounded Outlines</h4>
                        <p class="card-description">Use <code>class="btn-outline-* btn-rounded"</code> for rounded outlined style</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-icons btn-rounded btn-outline-light">
                            <i class="mdi mdi-home-outline"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-outline-secondary">
                            <i class="mdi mdi-edge"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-outline-success">
                            <i class="mdi mdi-email"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-outline-primary">
                            <i class="mdi mdi-star"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-outline-warning">
                            <i class="mdi mdi-map-marker"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-outline-info">
                            <i class="mdi mdi-code-braces"></i>
                          </button>
                          <br>
                          <button type="button" class="btn btn-icons btn-rounded btn-inverse-outline-light">
                            <i class="mdi mdi-home-outline"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-inverse-outline-secondary">
                            <i class="mdi mdi-edge"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-inverse-outline-success">
                            <i class="mdi mdi-email"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-inverse-outline-primary">
                            <i class="mdi mdi-star"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-inverse-outline-warning">
                            <i class="mdi mdi-map-marker"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-inverse-outline-info">
                            <i class="mdi mdi-code-braces"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card-body">
                        <h4 class="card-title">Inverse buttons</h4>
                        <p class="card-description">Use <code>class="btn-inverse-*"</code> for inverse styling</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-inverse-primary btn-fw">Primary</button>
                          <button type="button" class="btn btn-inverse-secondary btn-fw">Secondary</button>
                          <button type="button" class="btn btn-inverse-success btn-fw">Success</button>
                          <button type="button" class="btn btn-inverse-danger btn-fw">Danger</button>
                          <button type="button" class="btn btn-inverse-warning btn-fw">Warning</button>
                          <button type="button" class="btn btn-inverse-info btn-fw">Info</button>
                          <button type="button" class="btn btn-inverse-light btn-fw">Light</button>
                          <button type="button" class="btn btn-inverse-dark btn-fw">Dark</button>
                          <button type="button" class="btn btn-link btn-fw">Link</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h4 class="card-title">Button Sizes</h4>
                        <p class="card-description">Use class <code>"btn-lg", "btn-sm"</code> for different sizing</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-light btn-lg">btn-lg</button>
                          <button type="button" class="btn btn-light">btn-md</button>
                          <button type="button" class="btn btn-light btn-sm">btn-sm</button>
                          <br>
                          <button type="button" class="btn btn-secondary btn-lg">btn-lg</button>
                          <button type="button" class="btn btn-info">btn-md</button>
                          <button type="button" class="btn btn-primary btn-sm">btn-sm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card-body">
                        <h4 class="card-title">Rounded filled Buttons</h4>
                        <p class="card-description">Use class <code>.btn-rounded</code> for rounded buttons</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-primary btn-rounded btn-fw">Primary</button>
                          <button type="button" class="btn btn-secondary btn-rounded btn-fw">Secondary</button>
                          <button type="button" class="btn btn-success btn-rounded btn-fw">Success</button>
                          <button type="button" class="btn btn-danger btn-rounded btn-fw">Danger</button>
                          <button type="button" class="btn btn-warning btn-rounded btn-fw">Warning</button>
                          <button type="button" class="btn btn-info btn-rounded btn-fw">Info</button>
                          <button type="button" class="btn btn-light btn-rounded btn-fw">Light</button>
                          <button type="button" class="btn btn-dark btn-rounded btn-fw">Dark</button>
                          <button type="button" class="btn btn-link btn-rounded btn-fw">Link</button>
                        </div>
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">Inverse Rounded buttons</h4>
                        <p class="card-description">Use any of the available button classes to quickly create a styled button.</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-inverse-primary btn-rounded btn-fw">Primary</button>
                          <button type="button" class="btn btn-inverse-secondary btn-rounded btn-fw">Secondary</button>
                          <button type="button" class="btn btn-inverse-success btn-rounded btn-fw">Success</button>
                          <button type="button" class="btn btn-inverse-danger btn-rounded btn-fw">Danger</button>
                          <button type="button" class="btn btn-inverse-warning btn-rounded btn-fw">Warning</button>
                          <button type="button" class="btn btn-inverse-info btn-rounded btn-fw">Info</button>
                          <button type="button" class="btn btn-inverse-light btn-rounded btn-fw">Light</button>
                          <button type="button" class="btn btn-inverse-dark btn-rounded btn-fw">Dark</button>
                          <button type="button" class="btn btn-inverse-link btn-rounded btn-fw">Link</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h4 class="card-title">Rounded Outlined</h4>
                        <p class="card-description">Use class <code>.btn-rounded</code> for rounded style</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-outline-primary btn-rounded btn-fw">Primary</button>
                          <button type="button" class="btn btn-outline-secondary btn-rounded btn-fw">Secondary</button>
                          <button type="button" class="btn btn-outline-success btn-rounded btn-fw">Success</button>
                          <button type="button" class="btn btn-outline-danger btn-rounded btn-fw">Danger</button>
                          <button type="button" class="btn btn-outline-warning btn-rounded btn-fw">Warning</button>
                          <button type="button" class="btn btn-outline-info btn-rounded btn-fw">Info</button>
                          <button type="button" class="btn btn-outline-light btn-rounded btn-fw">Light</button>
                          <button type="button" class="btn btn-outline-dark btn-rounded btn-fw">Dark</button>
                          <button type="button" class="btn btn-outline-link btn-rounded btn-fw">Link</button>
                        </div>
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">Button Block</h4>
                        <p class="card-description">Use class <code>.btn-block</code> for full width buttons</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-info btn-block">Block Button</button>
                          <button type="button" class="btn btn-light btn-block">Block Button</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card-body">
                        <h4 class="card-title">Grouped buttons</h4>
                        <p class="card-description">These are the different buttons group component</p>
                        <div class="template-demo">
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary">1</button>
                            <button type="button" class="btn btn-outline-secondary">2</button>
                            <button type="button" class="btn btn-outline-secondary">3</button>
                          </div>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary">
                              <i class="mdi mdi-heart-outline"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                              <i class="mdi mdi-calendar"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                              <i class="mdi mdi-clock"></i>
                            </button>
                          </div>
                        </div>
                        <div class="template-demo">
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">1</button>
                            <button type="button" class="btn btn-primary">2</button>
                            <button type="button" class="btn btn-primary">3</button>
                          </div>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">
                              <i class="mdi mdi-heart-outline"></i>
                            </button>
                            <button type="button" class="btn btn-primary">
                              <i class="mdi mdi-calendar"></i>
                            </button>
                            <button type="button" class="btn btn-primary">
                              <i class="mdi mdi-clock"></i>
                            </button>
                          </div>
                        </div>
                        <div class="template-demo">
                          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group" aria-label="First group">
                              <button type="button" class="btn btn-light">1</button>
                              <button type="button" class="btn btn-light">2</button>
                              <button type="button" class="btn btn-light">3</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Second group">
                              <button type="button" class="btn btn-light">5</button>
                              <button type="button" class="btn btn-light">6</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                              <button type="button" class="btn btn-light">8</button>
                            </div>
                          </div>
                        </div>
                        <div class="template-demo">
                          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group" aria-label="First group">
                              <button type="button" class="btn btn-primary">1</button>
                              <button type="button" class="btn btn-primary">2</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Second group">
                              <button type="button" class="btn btn-primary">5</button>
                              <button type="button" class="btn btn-primary">6</button>
                              <button type="button" class="btn btn-primary">7</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                              <button type="button" class="btn btn-primary">8</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h4 class="card-title">Icons Buttons</h4>
                        <p class="card-description">Use any of the available button classes to quickly create a styled button.</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-light btn-fw">
                            <i class="mdi mdi-heart-outline"></i>Default</button>
                          <button type="button" class="btn btn-primary btn-fw">
                            <i class="mdi mdi-star-outline"></i>Primary</button>
                          <button type="button" class="btn btn-success btn-fw">
                            <i class="mdi mdi-check"></i>Success</button>
                          <button type="button" class="btn btn-secondary btn-fw">
                            <i class="mdi mdi-file-document"></i>Submit</button>
                          <button type="button" class="btn btn-dark btn-fw">
                            <i class="mdi mdi-cloud-download"></i>Edit</button>
                          <button type="button" class="btn btn-danger btn-fw">
                            <i class="mdi mdi-alert-outline"></i>Warning</button>
                          <button type="button" class="btn btn-info btn-fw">
                            <i class="mdi mdi-upload"></i>Upload</button>
                          <button type="button" class="btn btn-success btn-fw">
                            <i class="mdi mdi-printer"></i>Print</button>
                          <button type="button" class="btn btn-light btn-fw">
                            <i class="mdi mdi-refresh"></i>Reset</button>
                        </div>
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">Outline icons</h4>
                        <p class="card-description">Use any of the available button classes to quickly create a styled button.</p>
                        <div class="template-demo">
                          <button type="button" class="btn btn-outline-primary btn-fw">
                            <i class="mdi mdi-file-document"></i>Submit</button>
                          <button type="button" class="btn btn-secondary btn-fw">
                            <i class="mdi mdi-cloud-download"></i>Edit</button>
                          <button type="button" class="btn btn-outline-danger btn-fw">
                            <i class="mdi mdi-alert-outline"></i>Warning</button>
                          <button type="button" class="btn btn-outline-info btn-fw">
                            <i class="mdi mdi-upload"></i>Upload</button>
                          <button type="button" class="btn btn-outline-success btn-fw">
                            <i class="mdi mdi-printer"></i>Print</button>
                          <button type="button" class="btn btn-outline-light btn-fw">
                            <i class="mdi mdi-refresh"></i>Reset</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="card-body">
                        <h4 class="card-title">Social Buttons</h4>
                        <p class="card-description">use class <code>.social-btn</code> for social button</p>
                        <div class="template-demo">
                          <button type="button" class="btn social-btn btn-facebook">
                            <i class="mdi mdi-facebook"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-twitter">
                            <i class="mdi mdi-twitter"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-dribbble">
                            <i class="mdi mdi-dribbble"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-linkedin">
                            <i class="mdi mdi-linkedin"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-google">
                            <i class="mdi mdi-google-plus"></i>
                          </button>
                          <br>
                          <button type="button" class="btn social-btn btn-social-outline-facebook">
                            <i class="mdi mdi-facebook"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-social-outline-twitter">
                            <i class="mdi mdi-twitter"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-social-outline-dribbble">
                            <i class="mdi mdi-dribbble"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-social-outline-linkedin">
                            <i class="mdi mdi-linkedin"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-social-outline-google">
                            <i class="mdi mdi-google-plus"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="card-body">
                        <h4 class="card-title">Rounded Social Buttons</h4>
                        <p class="card-description">use class <code>".social-btn", ".btn-rounded"</code> for social button </p>
                        <div class="template-demo">
                          <button type="button" class="btn social-btn btn-rounded btn-facebook">
                            <i class="mdi mdi-facebook"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-rounded btn-twitter">
                            <i class="mdi mdi-twitter"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-rounded btn-dribbble">
                            <i class="mdi mdi-dribbble"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-rounded btn-linkedin">
                            <i class="mdi mdi-linkedin"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-rounded btn-google">
                            <i class="mdi mdi-google-plus"></i>
                          </button>
                          <br>
                          <button type="button" class="btn social-btn btn-rounded btn-social-outline-facebook">
                            <i class="mdi mdi-facebook"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-rounded btn-social-outline-twitter">
                            <i class="mdi mdi-twitter"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-rounded btn-social-outline-dribbble">
                            <i class="mdi mdi-dribbble"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-rounded btn-social-outline-linkedin">
                            <i class="mdi mdi-linkedin"></i>
                          </button>
                          <button type="button" class="btn social-btn btn-rounded btn-social-outline-google">
                            <i class="mdi mdi-google-plus"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../../assets/js/shared/off-canvas.js"></script>
    <script src="../../../assets/js/shared/misc.js"></script>
    <!-- endinject -->
  </body>
</html>